@model NC.Models.Tbl_Fichos

@{
    ViewBag.Title = "Reservar ficho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function ConfirmDelete() {
        var respuesta = confirm("¿Estás seguro?,  ¡Al darle click en aceptar este ficho será reservado!");

        if (respuesta == true) {

            return true;
        }
        else {
            return false;
        }
    }
</script>

<h2 class="text-center">Reservar ficho</h2>
<br />
<div class="alert alert-success" role="alert">
    <p class="text-center"> ¿Estás seguro acerca de reservar este ficho?</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FechaFicho, "Fecha", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaFicho, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaFicho, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HoraFicho, "Hora", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HoraFicho, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HoraFicho, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdUsuario", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-actions no-color">
        <input type="submit" onclick="return ConfirmDelete()" value="Reservar" class="btn btn-success" /> |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
