@model IEnumerable<NC.Models.Tbl_Fichos>

@{
    ViewBag.Title = "Página principal (Usuario)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Fichos reservados</h2>

<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            <label>Fecha</label>
        </th>
        <th>
            <label>Hora</label>
        </th>
        <th>
            <label>Usuario</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFicho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFicho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Usuarios.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdFicho }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IdFicho }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdFicho }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
